

.header {
    position: relative;
    padding-bottom: 40px;
    background-color: #FAFAFA;


}



.hero__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}



.hero__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.hero__charts {
    width: 171px;
    height: 192px;
}

.hero__title {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    line-height: 48px;
    color: #333950;
}

.hero__description {
    line-height: 26px;
    color: #747B95;
    text-align: center;
}

.hero__button {
    background-color: #5175FF;
    border: none;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    padding: 14px 41px 14px 41px;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    transition: 1s;
}

.hero__button:hover {
    background-color: rgba(81, 117, 255, 0.8);
}

.svg__container {
    position: absolute;
    z-index: -1;
    width: 300px;
    height: auto;
    top: -100px;
}



@media (min-width: 768px) {
    .hero__section {
        flex-direction: row-reverse;
        padding-top: 3rem;
        justify-content: space-between;

    }
    .hero__charts {
        width: 281px;
        height: 314px;
    }

    .hero__info {
        align-items: flex-start;
        max-width: 345px;
        
    }

    .hero__title, .hero__description {
        text-align: left;
    }

   

    .svg__container {
      
        width: 600px;
        height: auto;
        top: -100px;
        right: -100px;
        overflow-x: hidden;
    }
    

   

  }

  @media (min-width: 1280px) {
    .hero__info {
        max-width: 540px;
    }

    .hero__charts {
        width: 475px;
        height: 531px;
    }

    .hero__title {
        font-size: 56px;
        line-height: 64px;
    }

    .hero__description {
        font-size: 18px;
        line-height: 28px;
    }

    .svg__container {
        width: 1134px;
        
        top: -450px;
        right: -350px;
    }
  }