

.header__container {
    padding-top: 2rem;
  padding-bottom: 2rem;
}

.header__logo {
    margin: 0 auto;
    padding: 0;
}

@media (min-width: 768px) {
    .header__logo {
        margin: 0;
        padding: 0;
    }
}